* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     scroll-behavior: smooth;
}

#app {
     position: absolute;
     top:20%;
     left:10%;
}

.flashMessage {
     transition:0.4s;
     transform:translateX(-10000px);
}

.flashMessage.active {
     transform:translateX(0);
}

/* .form {
     width:50%;
} */